*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}

body{
    font-family: 'Montserrat';
    
}

span,
h2,
h1,
h3,
p{
    mix-blend-mode: difference;
    color:white;
}

.expensesHeader,
.tag_emojis,
.tag span{
    mix-blend-mode: normal;
}



.main_wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    // background-color: #cacaca50;

    .home{
        width: 500px;
        height: 100%;
        position: relative;
        overflow-y: scroll;
        
        .header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:1rem;
        }
        
        .expenses{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 6rem;
            
            h2{
                color:#cacaca;
                text-transform: uppercase;
                font-size:1rem;
            }
            
            h1{
                color:tomato;
                font-size: 4rem;
            }

        }

        .events{
            margin-top: 3rem;
            padding:1rem;

            .activities{
                display:flex;
                justify-content: center;
                flex-direction:column;

                &:last-child{
                    padding-bottom: 3rem;
                }

                .activ__inner{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #cacaca50;
                    padding-block: 1rem;
                    .activ__right{
                        
                        

                        .btnDel{
                            padding-inline: .5rem;
                            border-radius: .2rem;
                            padding:.2rem 1rem;
                            border: 2px solid tomato;
                            background-color: #ff634750;
                            transition: all .25s ease;
                            cursor: pointer;

                            &:hover{
                                background-color: tomato;
                            }
                        }
                    }
                }
            }
        }

        .footer{
            position: fixed;
            z-index: 2;
            top: 92.5%;
            width: 500px;
            padding:1rem;
            border-top:1px solid #cacaca50;
            display:flex;
            justify-content: space-around;
            align-items: center;
        }

        .popUp{
            background-color: #ececec;
            height: 100%;
            z-index: 3;
            top:0;
            // left:50%;
            // transform: translateX(-100%);
            width: 500px;
            position: fixed;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:2rem;

            .btn{
                padding:1rem 2rem;
                border:0px;
                border-radius: .5rem;
                margin-inline: .5rem;
                font-weight: bold;
                cursor: pointer;
                transition: all .25s ease;
            }

            .btnDanger{
                background-color: #ff634790;

                &:hover{
                    background-color: #ff6347;
                }
            }

            .btnNext{
                background-color: #27272750;

                &:hover{
                    background-color: #272727;
                }
            }

            h1{
                font-size: 1.5rem;
            }

            input{
                border:none;
                border-bottom: 1px solid grey;
                padding:1rem;
                width: 60%;
                background: none;
                outline:none;
                text-align: center;
                font-size: 4rem;
                font-weight: bold;
                color: grey;
            }

            .confirm{
                position: absolute;
                width: 100%;
                height: 100%;
                top:50%;
                background-color: #272727;
                color:white;
            
                padding:2rem;
    
                h2{
                    text-align: center;
                }
    
                p{
                    padding: 1rem;
                }
                button{
                    padding:1rem;
                    margin: 1rem 1rem;
                    border-radius: .4rem;
                    cursor:pointer
                }
                .btnConfirm{
                    background-color: #272727;
                }
            }
        }

        .tag{
            cursor: pointer;
            span{
                color:black;

            }
            &:hover{
                color:#3f3f3f50;
            }
        }

        .tags{
            position: fixed;
            background-color: #cecece;
            border-top: 1px solid #74747450;
            top:0;
            width: 500px;
            height: 100%;
            padding:1rem;
            text-align: center;
            z-index: 3;

            .tags_arr{
                margin-top: 2rem;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                // display:flex;
                // flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                padding:1rem;
                gap:2rem;

                .tags_arr__item{
                    transition: all .25s ease;
                    cursor: pointer;
                    display:flex;
                    flex-direction: column;
                    // padding-inline: 2rem;

                }
                .tags_arr__item:hover ~ span{
                    transform: scale(1.1);
                }
            }
        }

    }

    .analytics{
        width: 500px;
        height: 100%;
        overflow: hidden;
        position: relative;

        .header{
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:1rem;
        }


        .highestspent{
            display:flex;
            justify-content: space-between;
            align-items: center;

            background-color: #acacac20;
            padding:1rem;
            margin:1.5rem;
            border-radius: 1rem;

            .spentLeft{
                display:flex;
                justify-content: center;
                align-items: center;
                gap:1rem;
                
            }
        }


        .footer{
            position: absolute;
            z-index: 1;
            top: 92.5%;
            width: 100%;
            padding:1rem;
            border-top:1px solid #cacaca50;
            display:flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

svg{
   cursor: pointer; 
}

.hidden{
    display:none;
}

.active{
    display:block;
}

